@model Customer; // Specify the model type for this view

@{
    ViewData["Title"] = "Customer Registration Form";
}

@* <div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div> *@


@* <form asp-action="Create" style="max-width: 500px; margin: 0 auto;">
    <!-- Specify the action to be invoked upon form submission -->
    <div class="form-group">
        <label asp-for="FirstName">First Name</label> <!-- Display label for FirstName property -->
        <input asp-for="FirstName" class="form-control"  required/> <!-- Input field for FirstName -->
        <span asp-validation-for="FirstName" class="text-danger"></span> <!-- Display validation message for FirstName -->
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label> <!-- Display label for LastName property -->
        <input asp-for="LastName" class="form-control" required /> <!-- Input field for LastName -->
        <span asp-validation-for="LastName" class="text-danger"></span> <!-- Display validation message for LastName -->
    </div>
    <div class="form-group">
        <label asp-for="Address">Address</label> <!-- Display label for Address property -->
        <textarea asp-for="Address" class="form-control"></textarea> <!-- Textarea for Address -->
        <span asp-validation-for="Address" class="text-danger"></span> <!-- Display validation message for Address -->
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label> <!-- Display label for Email property -->
        <input asp-for="Email" class="form-control" /> <!-- Input field for Email -->
        <span asp-validation-for="Email" class="text-danger"></span> <!-- Display validation message for Email -->
    </div>
    <div class="form-group">
        <label asp-for="Mobile">Mobile</label> <!-- Display label for Mobile property -->
        <input asp-for="Mobile" class="form-control" required/> <!-- Input field for Mobile -->
        <span asp-validation-for="Mobile" class="text-danger"></span> <!-- Display validation message for Mobile -->
    </div>
    <input  type="hidden" asp-for="DateCreated" value="@DateTime.Now"  />
    <input type="hidden" asp-for="UserId" value="1" />

    <button type="submit" class="btn btn-dark my-2">Submit</button> <!-- Submit button for form -->
</form>
 *@
<section class="vh-100 d-flex justify-content-center align-items-center" style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-12">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-10 col-lg-6 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Customer Registration Form</p>

                                <form asp-action="Create" style="max-width: 500px; margin: 0 auto;">
                                    <!-- Specify the action to be invoked upon form submission -->
                                    <div class="form-group">
                                        <label asp-for="FirstName"><strong>First Name</strong></label> <!-- Display label for FirstName property -->
                                        <input asp-for="FirstName" class="form-control" required /> <!-- Input field for FirstName -->
                                        <span asp-validation-for="FirstName" class="text-danger"></span> <!-- Display validation message for FirstName -->
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LastName"><strong>Last Name</strong></label> <!-- Display label for LastName property -->
                                        <input asp-for="LastName" class="form-control" required /> <!-- Input field for LastName -->
                                        <span asp-validation-for="LastName" class="text-danger"></span> <!-- Display validation message for LastName -->
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address"><strong>Address</strong></label> <!-- Display label for Address property -->
                                        <textarea asp-for="Address" class="form-control"></textarea> <!-- Textarea for Address -->
                                        <span asp-validation-for="Address" class="text-danger"></span> <!-- Display validation message for Address -->
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"><strong>Email</strong></label> <!-- Display label for Email property -->
                                        <input asp-for="Email" class="form-control" /> <!-- Input field for Email -->
                                        <span asp-validation-for="Email" class="text-danger"></span> <!-- Display validation message for Email -->
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Mobile"><strong>Mobile</strong></label> <!-- Display label for Mobile property -->
                                        <input asp-for="Mobile" class="form-control" required /> <!-- Input field for Mobile -->
                                        <span asp-validation-for="Mobile" class="text-danger"></span> <!-- Display validation message for Mobile -->
                                    </div>
                                    <input type="hidden" asp-for="DateCreated" value="@DateTime.Now" />
                                    <input type="hidden" asp-for="UserId" value="1" />

                                    <button type="submit" class="btn btn-dark my-2">Submit</button> <!-- Submit button for form -->
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 order-1 order-lg-2">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                         class="img-fluid" alt="Sample image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
