<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car Connect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyCustomers.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: ##b4b4b4;
            color: #111111;
            text-align: center;
        }

        .DataTable .btn {
            background-color: #111111; /* Your desired color */
            color: white; /* Text color */
        }
    </style>
    </style>
</head>
<body>




    <div class="container-fluid">
        <div class="row">
            <nav class="navbar bg-white">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                       <img class="header-logo" src="~/images/carconnect_logo.png" alt="App logo" />
                        </a>
                </div>
            </nav>
        </div>
        <div class="d-flex gap-3 me-4">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light pt-3 sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">

                        <li class="d-flex align-items-center ms-2 nav-item">
                                <i class="material-icons">person_add</i>
                            <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Create">
                                New Customer
                            </a>
                        </li>

                        <li class="d-flex align-items-center ms-2 nav-item">
                            <i class="material-icons">directions_car</i>
                            <a class="nav-link" asp-area="" asp-controller="Vehicle" asp-action="Details">
                                Vehicles
                            </a>
                        </li>
                        <li class="d-flex align-items-center ms-2 nav-item">
                            <i class="material-icons">assignment</i>
                            <a class="nav-link" asp-area="" asp-controller="Vehicle" asp-action="Reports">
                                 Reports
                            </a>
                        </li>

                    </ul>

                </div>

            </nav>



            <!-- Main content -->
            <main class="col-md-9 col-lg-10 mt-3 rounded bg-white px-5 py-5">
                @RenderBody()
            </main>

        </div>

    </div>
    <footer class="border-top text-muted mt-3">
        <div class="container">
            &copy; 2024 - Car Connect version 1.0 for Neilsha's Auto Parts Ltd by RAZA Software
        </div>
    </footer>


</body>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@await RenderSectionAsync("Scripts", required: false)









</html>

