*{
    padding: 0;
    margin: 0;
}

body {
    background: #eff2ef !important;
}

a.nav-link
{
    color: #111111;
}

a.nav-link:hover, li.nav-item > i:hover
{
    color: #ff0000;
    font-weight: bold;
    vertical-align: middle;
}

.header-logo
{
    width: 100px;
}

.material-icons
{
    width: 18px;
}

 i.material-icons:hover
{
    color: #111111 !important;
}